@import"https://use.typekit.net/jmk3xov.css";
:root{
    --dark-bg: rgba(15, 15, 15, .95);--spacing: 350px;
    font-family:brandon-grotesque,sans-serif;
    font-weight:400;font-style:normal
    }


main{
    color:#fff;
    z-index:99;
    position:absolute;
   
    padding:120px 0;
    display:grid;
    grid-template-columns:repeat(12,1fr)

    }


    .main2{
        color:#fff;
        z-index:99;
        position:absolute;
        padding:120px 0;
        display:none;
        font-size:2rem;padding:2rem;
        margin-bottom:var(--spacing);
        background:var(--dark-bg);
        border-radius: 50px;
        
        }
    
    h1,h2,h3,blockquote{
        font-family:elevon,sans-serif;
        font-weight:700;font-style:normal
        }
        
        
    canvas {
        position:fixed;
        top:0;left:0
        }

        header{
            
            grid-column:2 / span 5;
            font-size:2rem;padding:2rem;
            margin-bottom:var(--spacing)
            }
            
            section {
                grid-column:2 / 8;
                padding:1rem;
                background:var(--dark-bg);
                font-size:1.25rem;
                line-height:1.5;
                margin-bottom:var(--spacing)
                }
                
        blockquote{
            margin:0;padding:0;
            grid-column:2 / span 9;
            margin-bottom:var(--spacing)
        
            }
            
            
        blockquote p{
            font-size:1.5rem;
            display:inline
            }
            
            .left{
                grid-column:6 / 12
                }

                #buttonEarth{
                    cursor : pointer;
                    padding: 0.3rem 1rem;
                    margin-top: 2rem;
                    border: none;
                    border-radius: 3rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    background-color:#0072ff;
                    text-transform: uppercase;
                    color: whitesmoke;
                    font-size: 15px;
                    position: absolute;left: 42%;
                    position: absolute;bottom: 3%;
                    

                }

                #buttonEarthExit{
                    cursor : pointer;
                    padding: 0.3rem 1rem;
                    margin-top: 2rem;
                    border: none;
                    border-radius: 3rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    background-color:#0072ff;
                    text-transform: uppercase;
                    color: whitesmoke;
                    font-size: 15px;
                    position: absolute;left: 31.5%;
                    position: absolute;bottom: 3%;

                }


                #buttonExplore{
                    cursor : pointer;
                    padding: 0.3rem 1rem;
                    margin-top: 2rem;
                    border: none;
                    border-radius: 3rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    background-color:#0072ff;
                    text-transform: uppercase;
                    color: whitesmoke;
                    font-size: 15px;
                    position: absolute;left: 46.5%;
                    position: absolute;bottom: 1%;
                    display: block;

                }
                .hold{
                    padding: 100px 200px !important;
                    transition-duration: 5s;
                }

                .release{
                    padding: 10px 20px !important;
                    transition-duration: 1s;
                }

                
                

               



                